- content_for :search_query, ''

.alert.alert-info{ role: 'alert' }
  :markdown
    **Things look different!** We've rebuilt _Panlexicon_ from the
    ground up to be faster and easier to use.
    We'd love to know how you're using _Panlexicon_. Send us an email at
    **<a href="mailto:hello@panlexicon.com"><i class="fa fa-paper-plane"></i> hello@panlexicon.com</a>**

- if @search.valid?
  %ul.search-results
    - @search.results.each do |word|
      - if word.name == 'palaver'
        %li.word.word-panlexicon panlexicon
      = render 'word', word: word
- else
  .alert.alert-danger Thesaurus data has not been imported yet.
