- content_for :search_query, @search.string

%ul.search-results
  - if @search.valid?
    - @search.results.each do |weighted_word|
      = render 'weighted_word', word: WeightedWordDecorator.new(weighted_word,
          context: { search: @search })
  - else
    - if @search.errors[:string].size > 0
      - @search.errors[:string].each do |message|
        .alert.alert-danger= message.html_safe
    - else
      - @search.errors[:groups].each do |message|
        .alert.alert-danger= message.html_safe
