- content_for :search_query, @search.string

- if @search.valid?
  %ul.search-results
    = render partial: 'word', collection: @search.results, as: :word
- else
  - if @search.errors[:string].size > 0
    - @search.errors[:string].each do |message|
      .alert.alert-danger= message.html_safe
  - else
    - @search.errors[:groups].each do |message|
      .alert.alert-danger= message.html_safe
