<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6"><strong>Panlexicon</strong> is a unique thesaurus that provides a quick and intuitive process for finding the words you want. <a href="{{ "/about" | prepend: site.baseurl }}">Learn more about Panlexicon</a>.</div>
      <div class="col-sm-6">
        <ul>
          <li>Follow our <strong>Word of the Day</strong> on <a href="http://twitter.com/panlexicon"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li>Help us <strong>improve the code</strong> at <a href="http://github.com/bensheldon/panlexicon"><i class="fa fa-github-alt"></i> Github</a></li>
          <li>Send us an <strong>email</strong> at <a href="mailto:hello@panlexicon.com"><i class="fa fa-paper-plane"></i> hello@panlexicon.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
