.text-center
  => fa_icon "paper-plane", class: "branded"
  ' Get Panlexicon news and updates in your inbox.
  ' <a href="https://forms.gle/M71s4tbVGMgFyj2V9" target="_blank" rel="noopener noreferrer">Click to subscribe</a>.
