defaults: &defaults
  secret_key_base: aaaaaaaaaaaabbbbbbbbcccccccccc0000000
  google_analytics:

development:
  <<: *defaults

test:
  <<: *defaults

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *defaults
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  google_analytics: <%= ENV['GOOGLE_ANALYTICS'] %>
