- if Rails.application.secrets.google_analytics.present?
  script async=true defer=true src='https://www.google-analytics.com/analytics.js'

  javascript:
    window.ga = window.ga || function () {
      (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;
    ga('create', '#{Rails.application.secrets.google_analytics}', 'auto');

  = content_for(:google_analytics) if content_for?(:google_analytics)

  javascript:
    ga('send', 'pageview');
