.container
  .row
    .col-sm-6
      :markdown
        **Panlexicon** is a unique thesaurus that provides a quicker
        and more intuitive process for finding the words you want.
    .col-sm-6
      %ul
        %li
          Follow our <strong>Word of the Day</strong> on&nbsp;
          %a.twitter-link{ href: 'http://twitter.com/panlexicon' }<>
            = fa_icon 'twitter-square'
            Twitter
          \.
        %li
          Send us an <strong>Email</strong> at&nbsp
          %a.twitter-link{ href: 'mailto:info@panlexicon.com' }<>
            = fa_icon 'child'
            info@panlexicon.com
          \.
