.container
  .row
    .col-sm-6
      :markdown
        **Panlexicon** is a unique thesaurus that provides a quicker
        and more intuitive process for finding the words you want.
    .col-sm-6
      %ul
        %li
          Follow our <strong>Word of the Day</strong> on&nbsp;
          %a.twitter-link{ href: 'http://twitter.com/panlexicon' }<>
            = fa_icon 'twitter'
            Twitter
          \.
        %li
          Help us <strong>improve the code</strong> at&nbsp
          %a.twitter-link{ href: 'http://github.com/bensheldon/panlexicon-rails' }<>
            = fa_icon 'github-alt'
            Github
          \.

        %li
          Send us an <strong>email</strong> at&nbsp
          %a.twitter-link{ href: 'mailto:hello@panlexicon.com' }<>
            = fa_icon 'paper-plane'
            hello@panlexicon.com
          \.
