-# navigation styled for Bootstrap 3.0

- search_query = content_for?(:search_query) ? yield(:search_query) : ''

%nav.navbar.navbar-default.navbar-fixed
  .container
    .navbar-header
      %button.navbar-toggle.float-left{ type: 'button', data: { target: '.navbar-collapse', toggle: 'collapse' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to 'Panlexicon', root_path, class: 'navbar-brand hidden-xs'

    .collapse.navbar-collapse.navbar-left
      %ul.nav.navbar-nav
        %li
          %a{ href: '#' } About


    -# .search-box
    %form.navbar-form.navbar-right{ role: 'search', method: 'GET', action: '/' }
      .form-group
        %input.form-control{ name: 'q', value: search_query, placeholder: 'Search Panlexicon', type: 'text' }
        %button.btn.btn-default.hidden-xs{ type: 'submit' } Search
